body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 1,5;
    color: #121212;

    background: url(img/bg.png);
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.page {
    width: 1000px;
    margin: 20px auto;
    background-color: #fff;
}

.container {
    display: flex;
}

/* Header */

.header {
    padding: 20px;

    background-color: #121212;
}
.header-tittle {
    margin: 0;

    font-size: 24px;
    color:#fff;
    text-align: center;
}
.header-subtitle {
    margin: 0;

    font-size: 16px;
    color:#4e50ff;
    text-align: center;
    font-weight: 400;
}
    /* Nav */

.nav {
        display: flex;
        text-align: center;
        justify-content: center;
}

.nav-link {

    padding: 8px 12px;

    text-decoration: none;
    color: #121212;
    transition: background-color 0.2s linear;
}
.nav-link:hover {
    background-color:#eee;

}
.content {
    width: 800px;
    padding: 0 20px;
}
.content-title {
    margin: 0 0 15px;

    font-size: 24px;
    color: #310697;

}
.read-more {
    color: #172ada;
    text-decoration: none;
}
.read-more:hover {
    text-decoration: underline;
    color: #112fd4;
}
.content-text {
    margin-bottom: 20px;
}

/* Sidebar */

.sidebar {
    width: 200px;
    padding: 10px;
    background-color:#eee ;
}

.sidebar-img {
    background:linear-gradient(to top, #fff,#f5f1f1) ;
}

.intro-img {
    border-radius: 10px;
    box-shadow: 0 3px 10px #162daf;
    background-color:#0e0b0b;
   opacity: 0.8;

   transition: opacity 0.2s linear;
}

.intro-img:hover {
    opacity: 1.0;
}


.sidebar-title {
    font-size: 16px;
    color:#112fd4;

    margin-bottom: 20px;
}

.sidebar-text {
    font-size: 14px;
}

/* Article */

.article-title {
    margin: 0 0 5px;

    font-size: 18px;
    color:#172ada
}
.article-date {
    display: block;
    font-size: 12px;
    color: #a4a4a4;
}
.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.article-title a {
    color: inherit;
    text-decoration: none;
}
.article-title a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    padding: 20px;

    background-color: #121212;

    color: #fff;
    text-align: center;
}